.navbar-default {
    background-color: black;
    border: none;
    color: white;
}


#menu, #menu nav ul li .dropdown-menu {
    background-color: black;
}

#menu a {
    color: white;
}

#menu a:hover, #menu a:focus, #menu ul .active a {
    background-color: unset;
    color: #fd7b30;
    border: none;
}

#menu ul .open a {
    background-color: unset;
}

.navbar-default .navbar-toggle:hover {
    border-color: #fd7b30;
    background-color: black;
    color: #fd7b30;
    font-size: 35px;

}

.navbar-default .navbar-toggle {

    background-color: unset;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: unset;
    border-color: #fd7b30;
}

#part-01 {
    background: url(../images/atrask.jpg) no-repeat center center;
    height: 1225px;
    width: 100%;
    background-size: cover;
    -webkit-transition: height 1s;
}

#menu {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#red-flag {
    width: 268px;
    height: 226px;
    background: url("../images/red.png") no-repeat;
    margin: 0 auto;
    background-position-y: -100px;
}

#logo {
    width: 239px;
    height: 240px;
    background: url("../images/partner-logo_elektromarkt 2.png") no-repeat;
    background-size: contain;
    background-position-y: 130px;
    color: #FF958B;
    font-size: 18px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

}

#title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10vw;
    color: #f2f2f2;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0.9, 1.2);
    text-transform: uppercase;
}

#sentence {
    text-align: center;
    background-color: #fd7b30;
    width: 405px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    padding-top: 7px;

}



