.black {
    background-color: black;
}

.nav-pills {
    background-color: black;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

ul> li > a {
    background-color: black;
}
ul> li > a, a:hover, a:focus {
    background-color: black;
}

li  {
    list-style:none;
}

ul.dropdown-menu {
    background-color: black;
    border-radius: 0px;
    margin: 0px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: black;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: black;
    border-color: #3097D1;
}

.dropdown-menu > li > a {
    color: white;
}