@media screen and (max-width: 320px) {
    body {
        background-color: red;
    }

    /* collapse button */
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: black;
        border-color: darkorange;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle .icon-bar {
        background-color: darkorange;
        color: darkorange;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: darkorange;
    }

    #discover-vr {
        margin-top: 20px;
        width: 80%;
        font-size: 10vw;
    }

    #title-page-text-block {
        max-width: 320px;
        margin-top: 120px;
        padding: 0;
    }

    #title-page-text-block p {
        margin-left: -20px;
    }
}