.navbar-default
{
    background-color: black;
    color: white;
}

#menu .navbar-default {
    border: unset;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#menu, #menu nav ul li .dropdown-menu {
    background-color: black;
    border: unset;
}

#menu a {
    color: white;
}

#menu a:hover, #menu a:focus, #menu ul .active a {
    background-color: unset;
    color: #fd7b30;
    border: none;
}

#menu ul .open a {
    background-color: unset;
    border: unset;
}



@media screen and (min-width: 1025px) {
    body {
        background-color: #2ab27b;
    }
}